.container {
  display: grid;
  grid-template-columns: 22% 78%;
  min-height: 100vh;
}
.sidebar {
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
  color: #000;
  background-color: #f8f8f8;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.493);

  &__search {
    display: flex;
    justify-content: space-between;
  }
  &__info {
    align-items: center;
    display: flex;
    margin: 20px 0;
  }
  &__clouds {
    border-bottom: 1px solid #fff;
    color: #000;
    font-size: 24px;
    font-weight: 600;
  }
}
.header {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 300px;
  padding-bottom: 0px;

  //   background-color: rgba(236, 233, 233, 0.89);
}

.content {
  padding-left: 50px;
  background: rgba(236, 233, 233, 0.89);
  h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
.widget {
  grid-gap: 40px;
  display: grid;
  grid-template-columns: 1fr 300px;
  padding-bottom: 0px;
}
.widgets {
  grid-gap: 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.weather {
  background-color: red;
}

.map {
  margin-right: 40px;
  height: 90%;
}
