.uvi {
  border-radius: 20px;
  padding: 30px;
  padding-top: 5px;
  text-align: center;
  color: #000;
  background-color: #f8f8f8;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.493);
  width: 60%;
  height: 60%;
  h3 {
    margin-top: 0px;
    font-size: 15px;
    color: rgba(83, 83, 83, 0.685);
  }
  &__uv {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  svg {
    transform: rotate(180deg);
  }
  path {
    border: 1px solid #000;
    fill: none;
    stroke: url("#orange-to-pink");
    stroke-linecap: round;
    stroke-width: 8;
    pointer-events: none;
  }
}
.gradient {
  position: relative;
}

.firstIndex {
  position: absolute;
  left: -15px;
  bottom: 20px;
  font-weight: 500;
  font-size: 18px;
  color: #000;
}

.secondIndex {
  position: absolute;
  left: 25%;
  top: -20%;
  font-weight: 500;
  font-size: 18px;
  color: #000;
}

.thirdIndex {
  position: absolute;
  right: 25%;
  top: -20%; /* position the top  edge of the element at the middle of the parent */
  font-weight: 500;
  font-size: 18px;
  color: #000;
}

.lastIndex {
  position: absolute;
  right: -15px;
  bottom: 20px;
  font-weight: 500;
  font-size: 18px;
  color: #000;
}

.mainIndex {
  position: absolute;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  font-size: 30px;
  color: #000;
}
.halfCircle {
  width: 150px;
  height: 100px; /* as the half of the width */

  border-top-left-radius: 110px; /* 100px of height + 10px of border */
  border-top-right-radius: 110px; /* 100px of height + 10px of border */
  border: 10px solid gray;
  border-bottom: 0;
}
