.humidity {
  border-radius: 20px;
  padding: 30px;
  padding-top: 5px;
  text-align: center;
  color: #000;
  background-color: #f8f8f8;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.493);
  width: 60%;
  height: 60%;
  h3 {
    font-size: 15px;
    color: rgba(83, 83, 83, 0.685);
  }
}

.humuditys {
  display: flex;
  justify-content: space-between;

  &__percent {
    p {
      font-size: 18px;
      text-align: left;
      color: #000;
      font-weight: 500;
    }
  }
}

.frame {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  padding: 5px;
  width: 30px;
  height: 80px;

  div {
    border-radius: 10px;
    width: 90%;
    height: 100%;
  }
}
